<a href="https://colab.research.google.com/github/IslamFahadul/Term_Project_Statistics-for-Data-Science/blob/main/Lab7_Task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [ ]:
df = pd.read_csv('dummy1.csv')
print(df)
col_names = np.array(df.columns)

df.info()

    id    X   Y     T
0    1    1        No
1    2    5   B    No
2    3    7   C    No
3    4   10   A   Yes
4    5    2   B    No
5    6    5   C   Yes
6    7        A   Yes
7    8    9   B   Yes
8    9    1   C   Yes
9   10    2   A    No
10  11    8   A   Yes
11  12    3   A    No
12  13    8   B   Yes
13  14   10        No
14  15    7   B    No
15  16    7   A    No
16  17    1   C   Yes
17  18    6   A   Yes
18  19        C   Yes
19  20    6   B    No
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      20 non-null     int64
 1    X      20 non-null     object
 2    Y      20 non-null     object
 3    T      20 non-null     object
dtypes: int64(1), object(3)
memory usage: 768.0+ bytes

In [ ]:
df[' X']
df[' X'] = pd.to_numeric(df[' X'],errors='coerce')
df = df.fillna(method='ffill')

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      20 non-null     int64
 1    X      20 non-null     float64
 2    Y      20 non-null     object
 3    T      20 non-null     object
dtypes: float64(1), int64(1), object(2)
memory usage: 768.0+ bytes

In [ ]:
df[' X'] = df[' X'].astype(int)
df.info()
df[' Y']

y_col = np.array(df[' Y'])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      20 non-null     int64
 1    X      20 non-null     int64
 2    Y      20 non-null     object
 3    T      20 non-null     object
dtypes: int64(2), object(2)
memory usage: 768.0+ bytes

In [ ]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [ ]:
df.columns

Index(['id', ' X', ' Y', ' T'], dtype='object')

In [ ]:
df = df.rename(columns = {' Y':' Y'})

df[' Y'].mode()

df[' Y'] = df[' Y'].replace(to_replace = ['  ',' '],value = ['A','A'])

df.rename(columns={' X':"X",' Y':"Y",' T':"T"} ,inplace=True)

In [ ]:
dfle =df
dfle.Y = le.fit_transform(dfle.Y)
dfle
df = dfle
df
df.info()
print(df)

df['T']
df['T'] = df['T'].replace(to_replace=[' No',' Yes'],value=[float(0),float(1)])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      20 non-null     int64
 1   X       20 non-null     int64
 2   Y       20 non-null     int64
 3   T       20 non-null     object
dtypes: int64(3), object(1)
memory usage: 768.0+ bytes
    id   X  Y     T
0    1   1  3    No
1    2   5  1    No
2    3   7  2    No
3    4  10  0   Yes
4    5   2  1    No
5    6   5  2   Yes
6    7   5  0   Yes
7    8   9  1   Yes
8    9   1  2   Yes
9   10   2  0    No
10  11   8  0   Yes
11  12   3  0    No
12  13   8  1   Yes
13  14  10  3    No
14  15   7  1    No
15  16   7  0    No
16  17   1  2   Yes
17  18   6  0   Yes
18  19   6  2   Yes
19  20   6  1    No
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      20 non-null     int64
 1   X       20 non-null     int64
 2   Y       20 non-null     int64
 3   T       20 non-null     float64
dtypes: float64(1), int64(3)
memory usage: 768.0 bytes

In [ ]:
import statsmodels.api as sm

In [ ]:
X_train = df[['X','Y']]
Y_train = df[['T']]

logistic =  sm.Logit(Y_train, X_train).fit()

logistic.summary()

Optimization terminated successfully.
         Current function value: 0.680630
         Iterations 4

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:                      T   No. Observations:                   20
Model:                          Logit   Df Residuals:                       18
Method:                           MLE   Df Model:                            1
Date:                Mon, 03 Jan 2022   Pseudo R-squ.:                 0.01806
Time:                        10:45:18   Log-Likelihood:                -13.613
converged:                       True   LL-Null:                       -13.863
Covariance Type:            nonrobust   LLR p-value:                    0.4792
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
X              0.0589      0.093      0.633      0.527      -0.124       0.241
Y             -0.2404      0.388     -0.619      0.536      -1.001       0.520
==============================================================================
"""

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X1 = df[['X','Y']]
Y1 = df['T']

print(X1)
print(Y1)

     X  Y
0    1  3
1    5  1
2    7  2
3   10  0
4    2  1
5    5  2
6    5  0
7    9  1
8    1  2
9    2  0
10   8  0
11   3  0
12   8  1
13  10  3
14   7  1
15   7  0
16   1  2
17   6  0
18   6  2
19   6  1
0     0.0
1     0.0
2     0.0
3     1.0
4     0.0
5     1.0
6     1.0
7     1.0
8     1.0
9     0.0
10    1.0
11    0.0
12    1.0
13    0.0
14    0.0
15    0.0
16    1.0
17    1.0
18    1.0
19    0.0
Name: T, dtype: float64

In [ ]:
X1_train, X1_test, Y1_train, Y1_test = train_test_split(X1, Y1, test_size=0.2, random_state=0)

In [ ]:
from sklearn.linear_model import LogisticRegression

In [ ]:

model = LogisticRegression()

model.fit(X1_train,Y1_train)

Y_pred = model.predict(X1_test)

Y_pred

prediction = list(map(round,Y_pred))
print(prediction)

[0, 0, 1, 0]

In [ ]:

print('Actual Class:    ', list(Y1_test.values))
print('Predicted Class: ',prediction)

Actual Class:     [1.0, 0.0, 0.0, 1.0]
Predicted Class:  [0, 0, 1, 0]

In [ ]:

from sklearn.metrics import confusion_matrix, accuracy_score

In [ ]:
cm = confusion_matrix (Y1_test, prediction)
print(cm)

print(accuracy_score(Y1_test, prediction))

[[1 1]
 [2 0]]
0.25